body {
    font-family: 'Arial, sans-serif';
    background-color: #FFC0CB; /* Cor de fundo rosa */
    color: #000; /* Cor do texto preto */
    text-align: center;
    padding: 50px;
}

.capitulo {
    margin: 20px auto;
    width: 60%;
    background: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
    padding: 20px;
    border-radius: 10px;
}

.galeria {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.item-galeria {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-galeria img {
    width: 120px; /* Largura da imagem menor */
    border-radius: 5px;
}

.navegacao {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ff6699;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ff3366;
}

